<?xml version="1.0"?>

<launch>

  <!--<node pkg="map_server" type="map_server" name="map_server" args="$(find patrol_robot)/world/firstmap.yaml map:=/map"/> -->

  <!--<include file="$(find patrol_robot)/launch/amcl.launch" /> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <!--<param name="base_global_planner" value="carrot_planner/CarrotPlanner" />-->
  <!--<param name="base_global_planner" value="global_planner/GlobalPlanner" />-->
    <rosparam file="$(find patrol_robot)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find patrol_robot)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find patrol_robot)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find patrol_robot)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find patrol_robot)/param/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find patrol_robot)/param/move_base_params.yaml" command="load"/>
  </node>

  <param name="global_costmap/global_frame" value="map"/>
  <param name="global_costmap/robot_base_frame" value="base_footprint"/>
  <param name="local_costmap/global_frame" value="odom"/>
  <param name="local_costmap/robot_base_frame" value="base_footprint"/>

</launch>